<h1>Login</h1>

<%= form_tag session_path do %>
  <div>
    <%= label_tag 'login', 'Login' %><br />
    <%= text_field_tag 'login', params[:login], id: 'login-input', autofocus: 'autofocus' %>
  </div>
  <div>
    <%= label_tag 'password', 'Password' %><br />
    <%= password_field_tag 'password' %><br /><br />
  </div>
  <div>
    <%= submit_tag 'Login'  %> |
    <%= link_to 'Back', root_path %>
  </div>
<% end %>
