<p>
  <b><%= I18n.t('email') %>:</b>  <%= user.email %>
</p>
<p>
  <b><%= I18n.t('phone') %>:</b>  <%= user.phone %>
</p>
<p>
  <b><%= I18n.t('grad-year') %>:</b>  <%= user.grad_year %>
</p>
<p>
  <b><%= I18n.t('jobs') %>:</b>  <%= user.jobs %>
</p>
